<div class="container">
    <div class="card">
        <div class="card-header">
            Ajouter Patient
        </div>

        <div class="card-body">
            <form [formGroup]="addPatientFormGroup" (ngSubmit)="savePatient()" >


                <div class="row ">
                    <div class="col">
                        <div class="mb-3" >
                            <label class="form-label">Nom :</label>
                            <input type="text" formControlName="nom" class="form-control" >

                        </div>



                        <div class="mb-3">
                            <label class="form-label">Prenom :</label>
                            <input type="text" formControlName="prenom" class="form-control" required>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Adresse :</label>
                            <input type="text" formControlName="adresse" class="form-control" required>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Telephone :</label>
                            <input type="text" formControlName="telephone" class="form-control" required>
                        </div>
                    </div>

                    <div class="col">

                        <div class="mb-3">
                            <label class="form-label">Email :</label>
                            <input type="text" formControlName="email" class="form-control" required>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Password :</label>
                            <input type="text" formControlName="password" class="form-control" required>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Date :</label>
                        <input type="date">
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Heure :</label>
                            <input type="time">
                        </div>
                    </div>

                </div>


            <button [disabled]="!addPatientFormGroup.valid" class="btn btn-success">Enregistrer</button>
            </form>
        </div>

    </div>
</div>
