
<style>
    @import url('https://fonts.googleapis.com/css2?family=Trispace:wght@200&display=swap');
</style>
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card col-md-auto">
                    <div class="card col-md-auto">
                        <div class="card-header card-header-info">
                            RDV du Jour restantes
                        </div>
                        <div class="card-body">
                            <table>
                                <tr>
                                    <td>Omar Nabil <br> 15-00 - Soins</td>
                                </tr>
                            </table>
                            <br>
                            <table>
                                <tr>
                                    <td>Lina Azzouzi <br> 18-30 - blanchissement</td>
                                </tr>
                            </table>
                            <br>
                            <table>
                                <tr>
                                    <td>Bouchra talal <br> 19:30 - Soins</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    <div class="col-md-4">
        <div class="card col-md-auto">
            <div class="card col-md-auto">
                <div class="card-header card-header-info">
                        Salle D'attente
                    </div>
                <div class="card-body">
                    <table>
                        <tr>
                            <td>Omar Nabil <br> 15-00 - Soins</td>
                        </tr>
                    </table>
                    <br>
                    <table>
                        <tr>
                            <td>Lina Azzouzi <br> 18-30 - blanchissement</td>
                        </tr>
                    </table>
                    <br>
                    <table>
                        <tr>
                            <td>Bouchra talal <br> 19:30 - Soins</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        </div>
            <div class="col-md-4">
                <div class="card col-md-auto">
                    <div class="card col-md-auto">
                        <div class="card-header card-header-info">
                            Patient sans RDV / Urgents
                        </div>
                        <div class="card-body">
                            <table>
                                <tr>
                                    <td>Omar Nabil <br> 15-00 - Soins</td>
                                </tr>
                            </table>
                            <br>
                            <table>
                                <tr>
                                    <td>Lina Azzouzi <br> 18-30 - blanchissement</td>
                                </tr>
                            </table>
                            <br>
                            <table>
                                <tr>
                                    <td>Bouchra talal <br> 19:30 - Soins</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <button class="btn btn-outline-primary"> AJOUTER </button>
                </div>
            </div>
    </div>
    </div>
</div>
